<!DOCTYPE suite SYSTEM "http://beust.com/testng/testng-1.0.dtd" >
<suite name="test-parameter">
	<test name="CatalogTest">
		<parameter name="id_1" value="1" />
		<parameter name="id_0" value="0" />
		<parameter name="title_invalid" value="invalid" />
		<parameter name="title_Dig" value="Dig" />
		<groups>
			<run>
   				<include name="DAO" />
			</run>
		</groups>
		<packages>
			<package name="org.readme.test.*" />
		</packages>
	</test>
</suite>
